#updates{
    text-align: center;
    width:80%;
    border-radius: 20px;
    border-collapse: collapse;
    margin: 30px 150px;
    background-color: grey;
    padding: 50px;
    h3{
        text-align: center;
   color: honeydew;
    font-size: 35px;
    font-family: Arial,sans-serif;
    font-weight: lighter;
    text-transform: none;
    text-shadow: none;
    
    }
    .homepage{
        background-color: rgb(26,92,130);
    }

}